<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.videonasocialmedia.videona">

    <application
        android:name=".VideonaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/VideonaTheme">

        <activity
            android:name=".presentation.views.activity.EditActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".presentation.views.activity.ShareVideoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.EditActivity"
            tools:replace="parentActivityName"/>

        <activity
            android:name=".presentation.views.activity.GalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".presentation.views.activity.VideoFullScreenPreviewActivity"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".presentation.views.activity.VideolistFullScreenPreviewActivity"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".presentation.views.activity.EditorRoomActivity"
            android:parentActivityName=".presentation.views.activity.RecordActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".presentation.views.activity.VideoTrimActivity"
            android:parentActivityName=".presentation.views.activity.EditorRoomActivity"
            android:label="@string/app_name" />

    </application>

</manifest>
