<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.videonasocialmedia.videona">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".VideonaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/VideonaTheme">
        <activity
            android:name=".presentation.views.activity.ShareActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.EditActivity"
            tools:replace="parentActivityName" />
        <activity
            android:name=".presentation.views.activity.GalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".presentation.views.activity.EditActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.views.activity.RecordActivity" />
        <activity
            android:name=".presentation.views.activity.VideoTrimActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.EditActivity" />
        <activity
            android:name=".presentation.views.activity.VideoSplitActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.EditActivity" />
        <activity
            android:name=".presentation.views.activity.VideoDuplicateActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.EditActivity" />
        <activity
            android:name=".presentation.views.activity.MusicListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.EditActivity" />
        <activity
            android:name=".presentation.views.activity.MusicDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.MusicListActivity" />
        <activity
            android:name=".presentation.views.activity.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>