<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videona.videona"
    android:versionCode="10"
    android:versionName="0.0">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".record.RecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".edit.EditVideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".music.MusicActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".share.ShareVideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".introapp.ScreenSlidePagerActivity"
            android:parentActivityName=".record.RecordActivity"
            android:screenOrientation="landscape"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".record.RecordActivity" />
        </activity>
        <activity
            android:name=".VideonaMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Videona"></activity>
        <activity
            android:name=".UserSignUpActivity"
            android:label="Videona"></activity>
    </application>

</manifest>
