<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.videonasocialmedia.videona"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false"/>

    <permission
        android:name="com.videonasocialmedia.videona.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.videonasocialmedia.videona.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:name=".VideonaApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/VideonaTheme">

        <meta-data
            android:name="com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates"
            android:value="false"/>

        <activity
            android:name="com.mixpanel.android.surveys.SurveyActivity"
            android:theme="@style/com_mixpanel_android_SurveyActivityTheme"/>

        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.videonasocialmedia.videona"/>
            </intent-filter>
        </receiver>


        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
     dispatching on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Used for Google Play Store Campaign Measurement-->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>
        <receiver
            android:name=".presentation.views.broadcastreceiver.InstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
            installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.views.activity.InitAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.IntroAppActivity"
            android:label="@string/app_name"
            android:theme="@style/VideonaIntroTutorial">
        </activity>

        <activity
            android:name=".presentation.views.activity.RecordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.RecordActivity"/>

        <activity
            android:name=".presentation.views.activity.NamePreferenceActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name=".presentation.views.activity.NamePreferenceActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.UsernamePreferenceActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name=".presentation.views.activity.UsernamePreferenceActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.EmailPreferenceActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name=".presentation.views.activity.EmailPreferenceActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity">
            <intent-filter>
                <action android:name=".presentation.views.activity.AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.PrivacyPolicyActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity">
            <intent-filter>
                <action android:name=".presentation.views.activity.PrivacyPolicyActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.TermsOfServiceActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity">
            <intent-filter>
                <action android:name=".presentation.views.activity.TermsOfServiceActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.LicensesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity">
            <intent-filter>
                <action android:name=".presentation.views.activity.LicensesActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.LegalNoticeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.SettingsActivity">
            <intent-filter>
                <action android:name=".presentation.views.activity.LegalNoticeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.activity.ShareVideoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".presentation.views.activity.RecordActivity"/>

        <activity
            android:name=".auth.presentation.views.activity.LoginActivity"
            android:label="@string/title_activity_login"/>

        <activity
            android:name=".promocode.domain.presentation.views.activity.PromoCodeActivity"
            android:label="@string/title_activity_promo"/>

        <service
            android:name=".presentation.views.services.ExportProjectService"
            android:exported="false"
            />

    </application>

</manifest>
